[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sagemaker = "~=2.116"
pandas = "*"
pyyaml = "*"

[dev-packages]
black = "*"
jupyter = "*"
ipython = "*"
pytest = "*"

[requires]
python_version = "3.9"
